.header {
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 1px #000;
  .header-inner {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
